.explore {
    .grid-blog {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 20px;
        margin-bottom: 20px;

        .imgBlog {
            width: 99%;
        }

        .textDescription {
            font-size: 12px;
        }
    }
}

.blogMargin {
    margin-bottom: 50px;
}