.titleMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.create-conteiner {
    height: 50vh;
    align-items: center;
    display: flex;
    margin-bottom: 3px;
}

.input-container {
    width: 70%;

    form {
        width: 100%;
    }
}