.create-conteiner {
    height: 50vh;
    align-items: center;
    display: flex;
    margin-bottom: 3px;

    .create-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px;
        border-style: solid;
        border-color: rgb(223, 221, 221);
        border-radius: 5px;
        width: 350px;
        height: 160px;

        .create-options {
            height: 33.3%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            cursor: pointer;
        }
        
        .create-options-border {
            border-bottom: 1px;
            border-bottom-style: solid;
            border-color: rgb(223, 221, 221);
        }
    }
}