* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

.tituloMasSubtitulo {
    margin: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .cardDetail {
        // min-width: 50%;
        // width: 50%;

        .titleDetail {
            font-size: 60px;
            font-family: 'Poppins';
            font-weight: 600;
            height: 90px;
        }

        .subtitleDetail {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}
