$hoverPrimary: rgb(23, 168, 23);
$hoverSecundary: blue;
$primaryColor: rgb(8, 94, 65);
$secundaryColor: white;
$colorButtom: (
    primary: rgb(8, 94, 65),
    secundary: white,
    login: rgb(8, 94, 65),
);
$colorFooter: aquamarine;
$colorNavegacion: #DEDEDE;
$colorCard: rgb(230, 226, 226);
$colorToken: rgba(255, 187, 0, 0.877);

$letraGrande: 70px;
$letraChica: 30px;