$colorPrincipal: rgb(8, 94, 65);
$colorSecundario: #fff;
$colorFooter: aquamarine;
$colorNavegacion: #DEDEDE;
$colorCard: rgb(230, 226, 226);
$colorToken: rgba(255, 187, 0, 0.877);

$letraGrande: 70px;
$letraChica: 30px;